# Dependencias de Node.js (Muy Pesadas)
/e-learning-backend/node_modules
/e-learning-frontend/node_modules

# Variables de Entorno y Configuración Secreta
.env
.env.local

# Archivos de logs, cache y distribución
npm-debug.log*
yarn-debug.log*
.DS_Store
/e-learning-frontend/dist